

@model EBS.viewModels.DashboardVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<html>
<head>

    <script src="~/Dashboard/js/easion.js"></script>
    <script src="~/Dashboard/js/chart-js-config.js"></script>


    <link href="~/Dashboard/css/easion.min.css" rel="stylesheet" />
    <link href="~/Dashboard/css/demo.css" rel="stylesheet" />
    <link href="~/Dashboard/css/demo.min.css" rel="stylesheet" />
    <link href="~/Dashboard/css/easion.css" rel="stylesheet" />


    <title>SEC | Dashboard</title>
</head>
<body>
    <br />
    <br />

    <ol class="breadcrumb">
            <li class="breadcrumb-item">SEC</li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ol>
  
    <br />
 
    <main class="dash-content">
        <div class="container-fluid">
            <div class="row dash-row">
                <div class="col-xl-4">
                    <div class="stats stats-primary">
                        <h3 class="stats-title"> No. Of Customers </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Customers</div>
                                <div class="stats-change">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="stats stats-success ">
                        <h3 class="stats-title"> Income </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-money mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">$ @Model.Revenue</div>
                                <div class="stats-change">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> No. of Invoices </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-receipt mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Invoices</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <br />

        <div class="container-fluid">
            <div class="row dash-row">
                <div class="col-xl-4">
                    <div class="stats stats-primary">
                        <h3 class="stats-title"> No. of Payments </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-money mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Payments</div>
                                <div class="stats-change">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="stats stats-success ">
                        <h3 class="stats-title"> Standing Balance </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-money mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">$ @Model.Balances</div>
                                <div class="stats-change">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> No. of Users </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container-fluid">
            <div class="row dash-row">
                @*<div class="col-xl-4">
                    <div class="stats stats-primary">
                        <h3 class="stats-title"> No. of Payments </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-money mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Payments</div>
                                <div class="stats-change">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col-xl-12">
                    <div class="stats stats-success ">
                        <h3 class="stats-title"> Meters </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="wrap-icon icon-dashboard mr-3"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number"> @Model.Meters</div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-xl-4">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> No. of Users </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Users</div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

    </main>


</body>
</html>